%turbo-frame{id: dom_id(book)}
  - if book.is_reserved?
    - if book.user_name == user_name
      = form_with model: book do |form|
        = form.hidden_field :user_name, value: nil
        = form.submit "unreserve"
    - else
      %button{disabled: true}
        Reserve

  - else
    = form_with model: book do |form|
      = form.hidden_field :user_name, value: user_name
      = form.submit "reserve book"
