= turbo_stream_from "books"

%h1 Réservez-moi !
.books
  - @books.each do |book|
    .book
      %div
        %span.book__title<
          = book.title
          = tag.span ', '
        %span.book__author
          = book.author
      .book__form
        = render partial: "form", locals: { book: book, can_unclaim: book.is_claimed_by?(@user_name) }

:css
  .book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
  }
  .books {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
