!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Books Giveaway"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head

    // Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    -# = tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"

    = javascript_importmap_tags

  %body.h-screen
    .relative.h-full
      .absolute.inset-0.bg-white.opacity-90
      %main.container.py-4.md:py-8.prose.z-20.relative
        = yield
